<!DOCTYPE html>
<html lang="en">
<head>
   {{>headerlinks}}
</head>
<body>
{{>navbar}}

    
    <!-- Main Header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 max-auto">
                <div class="row">
                    <!-- left side div -->
                    <div class="col-md-6 col-12 main_header_right" "align-items-center">
                        <figure>
                            <img src="image/bg3..jpg" alt="image logo" class="img-fluid" title="Tariq Technical">
                        </figure>
                    </div>
                    <div class="col-md-6 col-12 main_header_left">
                     <p>Welcome to weather app</p>
                     <h1>I Am A  <span class="text_clr">Mern Stack Developer</span> ,Jamian And A Part Of  Very Nice Unofficial Mechanical Group</h1>
                     <!-- <a href="/weather"><button>About Us</button></a> -->
                    </div>
                    <!-- right side div -->
                    
                </div>
             </div>
        </div>
    </div>  
    <!-- footer code        -->
   {{>footer}}
</body>
</html>